<div class="container">
	<article class="process">
		<p class="process__sup-title sup-title">PROCESS</p>
		<h2 class="process__title">Just easy step for you</h2>
		<div class="process__content">
			<div class="process__steps">
				<div class="step">
					<h4 class="step__counter">01</h4>
					<h4 class="step__title">Select your best menus</h4>
					<p class="step__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
				</div>
				<div class="step">
					<h4 class="step__counter">02</h4>
					<h4 class="step__title">Complete the payment</h4>
					<p class="step__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
				</div>
				<div class="step">
					<h4 class="step__counter">03</h4>
					<h4 class="step__title">Complete the payment</h4>
					<p class="step__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
			<div class="process__image">
				<img src="../../../assets/process_photo.png" alt="the chef decorates the dish">
			</div>
		</div>
	</article>
</div>