$colors: (
	primary:	hsl(13, 99%, 65%),
	secondary:	hsl(14, 52%, 10%),
	title-text:	hsl(0, 0%, 20%),
	main-text:	hsla(0, 0%, 20%, 0.7),
	footer-text:hsl(12, 19%, 29%),
	hover:		hsl(13, 75%, 55%),
	focus:		hsl(13, 100%, 47%),
	disabled:	hsl(0, 0%, 78%),
	outline:	hsl(223, 12%, 89%),
	form: 		hsl(210, 25%, 98%),
	white-primary: hsl(0, 0%, 100%),
	
)