	<div class="intro">
		<div class="container">
			<div class="intro__inner">
				<div class="intro__content">
					<p class="sup-title">Changing your catering way</p>
					<h1 class="intro__title">
						<span>Perfect Foods</span>
						<br>
						<span class="intro__title_style-colored">Better Live</span>
					</h1>
					<p class="intro__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do. rong para duija naago conporat der Andomo lakoc amet aven.</p>
					<button class="button button_style_primary-large" type="button">Subscribe</button>
				</div>
				<div class="intro__image">
					<img src="../../../assets/home_food.png" alt="food">
				</div>
			</div>
		</div>
	</div>
	<div class="commitment">
		<app-commitment></app-commitment>
	</div>
	<div class="process">
		<app-process></app-process>
	</div>
	<div class="review">
		<app-review></app-review>
	</div>
	<div class="menu">
		<app-menu></app-menu>
	</div>
	<div class="subscription">
		<app-subscription></app-subscription>
	</div>
